In [4]:
import pandas as pd
AirQuality=pd.read_excel("who_ambient_air_quality_database_version_2024_(v6.1).xlsx", sheet_name="Update 2024 (V6.1)")

In [5]:
AirQuality.columns

Index(['who_region', 'iso3', 'country_name', 'city', 'year', 'version',
       'pm10_concentration', 'pm25_concentration', 'no2_concentration',
       'pm10_tempcov', 'pm25_tempcov', 'no2_tempcov', 'type_of_stations',
       'reference', 'web_link', 'population', 'population_source', 'latitude',
       'longitude', 'who_ms'],
      dtype='object')

In [6]:
AirQuality.shape

(40098, 20)

In [7]:
AirQuality.info

<bound method DataFrame.info of       who_region iso3       country_name          city    year  \
0          4_Eur  ESP              Spain  A Coruna/ESP  2013.0
1          4_Eur  ESP              Spain  A Coruna/ESP  2014.0
2          4_Eur  ESP              Spain  A Coruna/ESP  2015.0
3          4_Eur  ESP              Spain  A Coruna/ESP  2016.0
4          4_Eur  ESP              Spain  A Coruna/ESP  2017.0
...          ...  ...                ...           ...     ...
40093      6_Wpr  KOR  Republic of Korea       경기도/KOR  2017.0
40094      6_Wpr  KOR  Republic of Korea       경기도/KOR  2018.0
40095      6_Wpr  KOR  Republic of Korea       경기도/KOR  2019.0
40096      6_Wpr  CHN              China     虎英公园北/CHN  2018.0
40097      6_Wpr  CHN              China     虎英公园北/CHN  2019.0

                                                 version  pm10_concentration  \
0      V4.0 (2018), V4.0 (2018), V4.0 (2018), V4.0 (2...              23.238
1               V6.0  (2023), V6.0  (2023), V6.0  (2023)              27.476
2      V6.0  (2023), V6.0  (2023), V6.0  (2023), V6.0...              25.515
3      V6.0  (2023), V6.0  (2023), V6.0  (2023), V6.0...              23.057
4      V6.0  (2023), V6.0  (2023), V6.0  (2023), V6.0...              26.849
...                                                  ...                 ...
40093                                        V5.0 (2022)              57.335
40094                                        V5.0 (2022)              50.838
40095                                        V5.0 (2022)              55.568
40096                                        V5.0 (2022)                 NaN
40097                                        V5.0 (2022)                 NaN

       pm25_concentration  no2_concentration  pm10_tempcov  pm25_tempcov  \
0                  11.491             28.841          87.0          46.0
1                  15.878             19.575          96.0          88.0
2                  14.004             22.731          98.0          71.0
3                  13.160             20.204          98.0          98.0
4                  14.114             21.543          97.0          97.0
...                   ...                ...           ...           ...
40093              36.457              0.029           NaN           NaN
40094              31.586              0.027           NaN           NaN
40095              31.013              0.028           NaN           NaN
40096              30.649                NaN           NaN          94.0
40097              29.731                NaN           NaN          97.0

       no2_tempcov                  type_of_stations reference web_link  \
0             93.0            Urban, Urban, Suburban       NaN      NaN
1             95.0            Urban, Urban, Suburban       NaN      NaN
2             98.0  Urban, Urban, Suburban, Suburban       NaN      NaN
3             98.0  Urban, Urban, Suburban, Suburban       NaN      NaN
4             98.0  Urban, Urban, Suburban, Suburban       NaN      NaN
...            ...                               ...       ...      ...
40093          NaN                               NaN       NaN      NaN
40094          NaN                               NaN       NaN      NaN
40095          NaN                               NaN       NaN      NaN
40096          NaN                               NaN       NaN      NaN
40097          NaN                               NaN       NaN      NaN

       population               population_source   latitude   longitude  \
0        246146.0  manual, manual, manual, manual  43.367900   -8.418571
1        247604.0                             NaN  43.368033   -8.418233
2        247604.0                             NaN  43.370375   -8.422900
3        247604.0                             NaN  43.370375   -8.422900
4        247604.0                             NaN  43.370375   -8.422900
...           ...                             ...        ...         ...
40093         NaN                             NaN  37.337200  126.724100
40094         NaN                             NaN  37.337200  126.724100
40095         NaN                             NaN  37.337200  126.724100
40096         NaN                             NaN  23.012778  113.794444
40097         NaN                             NaN  23.012778  113.794444

       who_ms
0           1
1           1
2           1
3           1
4           1
...       ...
40093       1
40094       1
40095       1
40096       1
40097       1

[40098 rows x 20 columns]>

In [17]:
AirQuality.dtypes

who_region             object
iso3                   object
country_name           object
city                   object
year                  float64
version                object
pm10_concentration    float64
pm25_concentration    float64
no2_concentration     float64
pm10_tempcov          float64
pm25_tempcov          float64
no2_tempcov           float64
type_of_stations       object
reference              object
web_link               object
population            float64
population_source      object
latitude              float64
longitude             float64
who_ms                  int64
dtype: object

In [10]:
AirQuality.isnull().sum()

who_region                0
iso3                      0
country_name              0
city                      0
year                      3
version                   0
pm10_concentration    11426
pm25_concentration    18368
no2_concentration     13164
pm10_tempcov          17695
pm25_tempcov          23508
no2_tempcov           16696
type_of_stations      16767
reference             33446
web_link              38308
population            17665
population_source     21996
latitude                  0
longitude                 0
who_ms                    0
dtype: int64

In [23]:
AirQuality['who_region'] = AirQuality['who_region'].astype(str)

In [26]:
AirQuality['iso3'] = AirQuality['iso3'].astype(str)

In [27]:
AirQuality['country_name'] = AirQuality['country_name'].astype(str)

In [28]:
AirQuality['city'] = AirQuality['city'].astype(str)

In [ ]:
AirQuality[AirQuality['year'].isnull()]

,who_region,iso3,country_name,city,year,version,pm10_concentration,pm25_concentration,no2_concentration,pm10_tempcov,pm25_tempcov,no2_tempcov,type_of_stations,reference,web_link,population,population_source,latitude,longitude,who_ms
2767,3_Sear,IND,India,Bangalore/IND,NaN,"Unknown, Unknown, Unknown, Unknown",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12326532.0,"Imputed_from_UNWUP2018, Imputed_from_UNWUP2018...",12.971940,77.593690,1
8507,3_Sear,IND,India,Cuttack/IND,NaN,V6.0 (2023),NaN,44.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,742011.0,Imputed_from_UNWUP2018,20.586346,86.119515,1
27889,3_Sear,IND,India,Pune/IND,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6629347.0,Imputed_from_UNWUP2018,18.516057,73.861578,1

In [30]:
AirQuality = AirQuality.dropna(subset=['year'])

In [31]:
AirQuality.shape

(40095, 20)

In [32]:
AirQuality['year'] = AirQuality['year'].astype(int)

In [34]:
AirQuality['version'] = AirQuality['version'].astype(str)

In [36]:
cols = ['pm10_concentration', 'pm25_concentration', 'no2_concentration',
       'pm10_tempcov', 'pm25_tempcov', 'no2_tempcov']

AirQuality[cols] = AirQuality.groupby('city')[cols].transform(
    lambda x: x.fillna(x.mean())
)

In [37]:
AirQuality.isnull().sum()

who_region                0
iso3                      0
country_name              0
city                      0
year                      0
version                   0
pm10_concentration     8581
pm25_concentration    13917
no2_concentration      9236
pm10_tempcov          14767
pm25_tempcov          19416
no2_tempcov           14161
type_of_stations      16764
reference             33443
web_link              38305
population            17665
population_source     21996
latitude                  0
longitude                 0
who_ms                    0
dtype: int64

In [40]:
AirQuality[['pm10_concentration', 'pm25_concentration', 'no2_concentration',
       'pm10_tempcov', 'pm25_tempcov', 'no2_tempcov']] = \
AirQuality[['pm10_concentration', 'pm25_concentration', 'no2_concentration',
       'pm10_tempcov', 'pm25_tempcov', 'no2_tempcov']].fillna(0)

In [41]:
AirQuality.isnull().sum()

who_region                0
iso3                      0
country_name              0
city                      0
year                      0
version                   0
pm10_concentration        0
pm25_concentration        0
no2_concentration         0
pm10_tempcov              0
pm25_tempcov              0
no2_tempcov               0
type_of_stations      16764
reference             33443
web_link              38305
population            17665
population_source     21996
latitude                  0
longitude                 0
who_ms                    0
dtype: int64

In [42]:
AirQuality.shape

(40095, 20)

In [43]:
AirQuality['type_of_stations'] = AirQuality['type_of_stations'].fillna('N/A')

In [44]:
AirQuality.isnull().sum()

who_region                0
iso3                      0
country_name              0
city                      0
year                      0
version                   0
pm10_concentration        0
pm25_concentration        0
no2_concentration         0
pm10_tempcov              0
pm25_tempcov              0
no2_tempcov               0
type_of_stations          0
reference             33443
web_link              38305
population            17665
population_source     21996
latitude                  0
longitude                 0
who_ms                    0
dtype: int64

In [47]:
AirQuality['type_of_stations'] = AirQuality['type_of_stations'].astype(str)

In [45]:
AirQuality = AirQuality.drop('reference', axis=1)
AirQuality = AirQuality.drop('web_link', axis=1)

In [46]:
AirQuality.isnull().sum()

who_region                0
iso3                      0
country_name              0
city                      0
year                      0
version                   0
pm10_concentration        0
pm25_concentration        0
no2_concentration         0
pm10_tempcov              0
pm25_tempcov              0
no2_tempcov               0
type_of_stations          0
population            17665
population_source     21996
latitude                  0
longitude                 0
who_ms                    0
dtype: int64

In [48]:
cols = ['population']

AirQuality[cols] = AirQuality.groupby('city')[cols].transform(
    lambda x: x.fillna(x.mean())
)

In [49]:
AirQuality.isnull().sum()

who_region                0
iso3                      0
country_name              0
city                      0
year                      0
version                   0
pm10_concentration        0
pm25_concentration        0
no2_concentration         0
pm10_tempcov              0
pm25_tempcov              0
no2_tempcov               0
type_of_stations          0
population             8331
population_source     21996
latitude                  0
longitude                 0
who_ms                    0
dtype: int64

In [50]:
AirQuality[['population']] = \
AirQuality[['population']].fillna(0)

In [51]:
AirQuality.isnull().sum()

who_region                0
iso3                      0
country_name              0
city                      0
year                      0
version                   0
pm10_concentration        0
pm25_concentration        0
no2_concentration         0
pm10_tempcov              0
pm25_tempcov              0
no2_tempcov               0
type_of_stations          0
population                0
population_source     21996
latitude                  0
longitude                 0
who_ms                    0
dtype: int64

In [52]:
AirQuality['population_source'] = AirQuality['population_source'].fillna('N/A')

In [53]:
AirQuality.isnull().sum()

who_region            0
iso3                  0
country_name          0
city                  0
year                  0
version               0
pm10_concentration    0
pm25_concentration    0
no2_concentration     0
pm10_tempcov          0
pm25_tempcov          0
no2_tempcov           0
type_of_stations      0
population            0
population_source     0
latitude              0
longitude             0
who_ms                0
dtype: int64

In [54]:
AirQuality = AirQuality.drop('who_ms', axis=1)

In [55]:
AirQuality['number_of_stations'] = AirQuality['type_of_stations'].apply(
    lambda x: 0 if x == 'N/A' else x.count(',') + 1
)

In [57]:
cols = list(AirQuality.columns)
cols.insert(13, cols.pop(cols.index('number_of_stations')))
AirQuality = AirQuality[cols]

In [58]:
AirQuality.isnull().sum()

who_region            0
iso3                  0
country_name          0
city                  0
year                  0
version               0
pm10_concentration    0
pm25_concentration    0
no2_concentration     0
pm10_tempcov          0
pm25_tempcov          0
no2_tempcov           0
type_of_stations      0
number_of_stations    0
population            0
population_source     0
latitude              0
longitude             0
dtype: int64

In [60]:
AirQuality.info()
AirQuality.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 40095 entries, 0 to 40097
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   who_region          40095 non-null  object
 1   iso3                40095 non-null  object
 2   country_name        40095 non-null  object
 3   city                40095 non-null  object
 4   year                40095 non-null  int64
 5   version             40095 non-null  object
 6   pm10_concentration  40095 non-null  float64
 7   pm25_concentration  40095 non-null  float64
 8   no2_concentration   40095 non-null  float64
 9   pm10_tempcov        40095 non-null  float64
 10  pm25_tempcov        40095 non-null  float64
 11  no2_tempcov         40095 non-null  float64
 12  type_of_stations    40095 non-null  object
 13  number_of_stations  40095 non-null  int64
 14  population          40095 non-null  float64
 15  population_source   40095 non-null  object
 16  latitude            40095 non-null  float64
 17  longitude           40095 non-null  float64
dtypes: float64(9), int64(2), object(7)
memory usage: 5.8+ MB

,year,pm10_concentration,pm25_concentration,no2_concentration,pm10_tempcov,pm25_tempcov,no2_tempcov,number_of_stations,population,latitude,longitude
count,40095.000000,40095.000000,40095.000000,40095.000000,40095.000000,40095.000000,40095.000000,40095.000000,4.009500e+04,40095.000000,40095.000000
mean,2016.232672,24.943646,12.330574,14.999041,55.565225,42.872380,56.284993,0.929842,4.323055e+05,40.026037,10.593340
std,3.116678,30.699103,16.718197,23.499148,45.455186,45.613087,45.796660,1.814883,1.631082e+06,16.308789,57.774087
min,2010.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,-53.158316,-159.366240
25%,2014.000000,10.600000,0.000000,2.161000,0.000000,0.000000,0.000000,0.000000,1.744000e+03,37.138800,-1.258900
50%,2016.000000,18.710000,8.510000,13.186000,85.000000,1.000000,89.000000,1.000000,3.816600e+04,43.823955,10.512200
75%,2019.000000,27.690500,15.846000,22.804500,97.000000,95.000000,97.000000,1.000000,2.211000e+05,49.163609,23.226400
max,2022.000000,540.000000,436.440000,3670.314000,100.000000,100.000000,100.000000,59.000000,3.739313e+07,69.677498,178.450000

In [64]:
AirQuality.to_excel("AirQuality_cleaned.xlsx", index=False)