<a href="https://colab.research.google.com/github/Abdallah-Qusit/Climate_Changes/blob/main/Phase1_health_data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#** Health Data Cleaning**

In [ ]:
#import pandas + reading the csv file
import pandas as pd
health_data=pd.read_csv('health_data.csv')

In [ ]:
health_data.columns #names of columns

Index(['measure_id', 'measure_name', 'location_id', 'location_name', 'sex_id',
       'sex_name', 'age_id', 'age_name', 'cause_id', 'cause_name', 'metric_id',
       'metric_name', 'year', 'val', 'upper', 'lower'],
      dtype='object')

In [ ]:
health_data.head() #first 5 rows

,measure_id,measure_name,location_id,location_name,sex_id,sex_name,age_id,age_name,cause_id,cause_name,metric_id,metric_name,year,val,upper,lower
0,1,Deaths,154,Tunisia,1,Male,8,15-19 years,956,Respiratory infections and tuberculosis,1,Number,2013,13.974688,20.307735,7.914820
1,1,Deaths,154,Tunisia,2,Female,8,15-19 years,956,Respiratory infections and tuberculosis,1,Number,2013,10.589717,14.897350,7.363160
2,1,Deaths,154,Tunisia,1,Male,9,20-24 years,956,Respiratory infections and tuberculosis,1,Number,2013,21.613412,29.605218,13.005927
3,1,Deaths,154,Tunisia,2,Female,9,20-24 years,956,Respiratory infections and tuberculosis,1,Number,2013,16.379945,23.198126,11.437547
4,1,Deaths,154,Tunisia,1,Male,11,30-34 years,956,Respiratory infections and tuberculosis,1,Number,2013,42.289751,56.835945,30.132482

In [ ]:
health_data.tail() #last 5 rows

,measure_id,measure_name,location_id,location_name,sex_id,sex_name,age_id,age_name,cause_id,cause_name,metric_id,metric_name,year,val,upper,lower
9823,2,DALYs (Disability-Adjusted Life Years),153,Syrian Arab Republic,2,Female,15,50-54 years,956,Respiratory infections and tuberculosis,1,Number,2023,2867.045933,4092.194004,1899.058881
9824,2,DALYs (Disability-Adjusted Life Years),153,Syrian Arab Republic,1,Male,23,5-14 years,956,Respiratory infections and tuberculosis,1,Number,2023,10004.545124,13915.964188,7130.884574
9825,2,DALYs (Disability-Adjusted Life Years),153,Syrian Arab Republic,2,Female,23,5-14 years,956,Respiratory infections and tuberculosis,1,Number,2023,8397.281647,11725.510502,5461.203566
9826,2,DALYs (Disability-Adjusted Life Years),153,Syrian Arab Republic,1,Male,25,50-69 years,956,Respiratory infections and tuberculosis,1,Number,2023,18116.883994,26396.361692,12570.323716
9827,2,DALYs (Disability-Adjusted Life Years),153,Syrian Arab Republic,2,Female,25,50-69 years,956,Respiratory infections and tuberculosis,1,Number,2023,11762.668693,16415.267862,8043.519062

In [ ]:
health_data.shape #how many rows,columns

(9828, 16)

In [ ]:
health_data.describe()  #numeric descriptions

,measure_id,location_id,sex_id,age_id,cause_id,metric_id,year,val,upper,lower
count,9828.000000,9828.000000,9828.000000,9828.000000,9828.0,9828.0,9828.000000,9.828000e+03,9.828000e+03,9.828000e+03
mean,1.500000,166.380952,1.500000,14.444444,956.0,1.0,2017.000000,7.491545e+03,9.671349e+03,5.836568e+03
std,0.500025,79.734242,0.500025,5.540260,0.0,0.0,3.741848,3.768171e+04,4.301080e+04,3.341024e+04
min,1.000000,139.000000,1.000000,8.000000,956.0,1.0,2011.000000,3.167733e-01,4.378892e-01,2.291992e-01
25%,1.000000,144.000000,1.000000,11.000000,956.0,1.0,2014.000000,6.052921e+01,8.678908e+01,3.879102e+01
50%,1.500000,149.000000,1.500000,13.000000,956.0,1.0,2017.000000,4.002780e+02,5.322618e+02,2.864773e+02
75%,2.000000,154.000000,2.000000,15.000000,956.0,1.0,2020.000000,4.805635e+03,6.734006e+03,3.327095e+03
max,2.000000,522.000000,2.000000,25.000000,956.0,1.0,2023.000000,1.198321e+06,1.339096e+06,1.089804e+06

In [ ]:
health_data.info() #info about data like what has nulls and so on

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9828 entries, 0 to 9827
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   measure_id     9828 non-null   int64
 1   measure_name   9828 non-null   object
 2   location_id    9828 non-null   int64
 3   location_name  9828 non-null   object
 4   sex_id         9828 non-null   int64
 5   sex_name       9828 non-null   object
 6   age_id         9828 non-null   int64
 7   age_name       9828 non-null   object
 8   cause_id       9828 non-null   int64
 9   cause_name     9828 non-null   object
 10  metric_id      9828 non-null   int64
 11  metric_name    9828 non-null   object
 12  year           9828 non-null   int64
 13  val            9828 non-null   float64
 14  upper          9828 non-null   float64
 15  lower          9828 non-null   float64
dtypes: float64(3), int64(7), object(6)
memory usage: 1.2+ MB

In [ ]:
health_data.dtypes #data type of each row

measure_id         int64
measure_name      object
location_id        int64
location_name     object
sex_id             int64
sex_name          object
age_id             int64
age_name          object
cause_id           int64
cause_name        object
metric_id          int64
metric_name       object
year               int64
val              float64
upper            float64
lower            float64
dtype: object

## Data Cleaning

In [ ]:
#detect nulls
health_data.isnull()
#ture: there are nulls
#false: there are no nulls

,measure_id,measure_name,location_id,location_name,sex_id,sex_name,age_id,age_name,cause_id,cause_name,metric_id,metric_name,year,val,upper,lower
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9823,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9824,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9825,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9826,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9827,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
#get the number(total of nulls) in each column
health_data.isnull().sum()

measure_id       0
measure_name     0
location_id      0
location_name    0
sex_id           0
sex_name         0
age_id           0
age_name         0
cause_id         0
cause_name       0
metric_id        0
metric_name      0
year             0
val              0
upper            0
lower            0
dtype: int64

In [ ]:
#get the total nulls
health_data.isnull().sum().sum()

np.int64(0)

In [ ]:
#detect duplicates:
health_data.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
9823    False
9824    False
9825    False
9826    False
9827    False
Length: 9828, dtype: bool

In [ ]:
#get the total of duplicates
health_data.duplicated().sum()

np.int64(0)

In [ ]:
#The Columns and Rows after filteration
health_data.shape

(9828, 16)

In [ ]:
health_data.head()  #Re-viewing this to see if there are any columns' names need to be changed

,measure_id,measure_name,location_id,location_name,sex_id,sex_name,age_id,age_name,cause_id,cause_name,metric_id,metric_name,year,val,upper,lower
0,1,Deaths,154,Tunisia,1,Male,8,15-19 years,956,Respiratory infections and tuberculosis,1,Number,2013,13.974688,20.307735,7.914820
1,1,Deaths,154,Tunisia,2,Female,8,15-19 years,956,Respiratory infections and tuberculosis,1,Number,2013,10.589717,14.897350,7.363160
2,1,Deaths,154,Tunisia,1,Male,9,20-24 years,956,Respiratory infections and tuberculosis,1,Number,2013,21.613412,29.605218,13.005927
3,1,Deaths,154,Tunisia,2,Female,9,20-24 years,956,Respiratory infections and tuberculosis,1,Number,2013,16.379945,23.198126,11.437547
4,1,Deaths,154,Tunisia,1,Male,11,30-34 years,956,Respiratory infections and tuberculosis,1,Number,2013,42.289751,56.835945,30.132482

# Dropping the Unnecessary Columns:
## all the id columns are unncessary because their names are existing in the data

In [ ]:
health_data= health_data.drop(columns=[
    'measure_id',
    'location_id',
    'sex_id',
    'age_id',
    'cause_id',
    'metric_id'
])

In [ ]:
health_data.head()

,measure_name,location_name,sex_name,age_name,cause_name,metric_name,year,val,upper,lower
0,Deaths,Tunisia,Male,15-19 years,Respiratory infections and tuberculosis,Number,2013,13.974688,20.307735,7.914820
1,Deaths,Tunisia,Female,15-19 years,Respiratory infections and tuberculosis,Number,2013,10.589717,14.897350,7.363160
2,Deaths,Tunisia,Male,20-24 years,Respiratory infections and tuberculosis,Number,2013,21.613412,29.605218,13.005927
3,Deaths,Tunisia,Female,20-24 years,Respiratory infections and tuberculosis,Number,2013,16.379945,23.198126,11.437547
4,Deaths,Tunisia,Male,30-34 years,Respiratory infections and tuberculosis,Number,2013,42.289751,56.835945,30.132482

#Change Names of some Columns to match other data sets:

In [ ]:
health_data = health_data.rename(columns={
    'location_name': 'country',
    'measure_name': 'measure',
    'cause_name': 'disease',
    'val': 'value'
})

In [ ]:
health_data.columns

Index(['measure', 'country', 'sex_name', 'age_name', 'disease', 'metric_name',
       'year', 'value', 'upper', 'lower'],
      dtype='object')

In [ ]:
health_data = health_data.rename(columns={
    'sex_name': 'sex',
    'age_name': 'age',
    'metric_name': 'metric'
})

In [ ]:
health_data.columns

Index(['measure', 'country', 'sex', 'age', 'disease', 'metric', 'year',
       'value', 'upper', 'lower'],
      dtype='object')

In [ ]:
health_data.dtypes

measure     object
country     object
sex         object
age         object
disease     object
metric      object
year         int64
value      float64
upper      float64
lower      float64
dtype: object

In [ ]:
health_data.head()

,measure,country,sex,age,disease,metric,year,value,upper,lower
0,Deaths,Tunisia,Male,15-19 years,Respiratory infections and tuberculosis,Number,2013,13.974688,20.307735,7.914820
1,Deaths,Tunisia,Female,15-19 years,Respiratory infections and tuberculosis,Number,2013,10.589717,14.897350,7.363160
2,Deaths,Tunisia,Male,20-24 years,Respiratory infections and tuberculosis,Number,2013,21.613412,29.605218,13.005927
3,Deaths,Tunisia,Female,20-24 years,Respiratory infections and tuberculosis,Number,2013,16.379945,23.198126,11.437547
4,Deaths,Tunisia,Male,30-34 years,Respiratory infections and tuberculosis,Number,2013,42.289751,56.835945,30.132482

# Saving cleaned data:

In [ ]:
health_data.to_csv("cleaned_health_data.csv", index=False)

In [ ]:
health_data.to_csv(r"C:\Users\ahmdr\D:\Depi graduation project\cleaned_health_data.csv", index=False)